{% extends 'storykeempat/base.html' %} {% load static %}

    <!-- CSS CDN BLOCK-->
    {% block linkCDN %}
       <!--Link Font-->
       <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&family=Sansita+Swashed:wght@800&display=swap" rel="stylesheet">
    {% endblock linkCDN %}
 



{% block main %}
    <div class="bg">
      <div class="welcome">
        <div id="wlcm" class="centered text-center">
          Welcome!<br>
          <a class="btn btn-dark btn-lg" href="{% url 'storykeempat:profile' %}" role="button">Let's Get Started</a>
        </div>
      </div>
    </div>

{% endblock main %}

