<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,500;1,700;1,900&family=Sansita+Swashed:wght@600;800&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: #90f6cf;
        }
        a {
            color: rgb(255, 255, 255);
        }
        #back a{
            color: rgb(0, 0, 0);
        }
        card {
            background-color: cornflowerblue;
        }
        #buttonsubmit {
            background-color: rgb(20, 220, 103);
            color: rgb(0, 0, 0);
        }

    </style>
    <title>Tambah</title>
  </head>
  <body> 
    
    <div class="row mt-2 mb-3 justify-content-center">
        <div class="col text-center">
          <button id="back" type="button" class="btn btn-outline-warning"><a href="{% url 'storykeempat:welcome' %}">Kembali ke halaman utama</a></button>
        </div>
    </div>
        
        <div class="row mt-3 mb-3">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Tambah Mata kuliah</h5>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                    
                            {{form_kegiatan.nama_kegiatan.label_tag}}
                            {{form_kegiatan.nama_kegiatan}}
                      
                            {{form_kegiatan.deskripsi.label_tag}} <br>
                            {{form_kegiatan.deskripsi}}
                            <br>
                            <button id="buttonsubmit" class="btn" type="submit">Tambah Kegiatan</button>
            
                        </form>            
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col text-center">
              <button type="button" class="btn btn-info"><a href="{% url 'storyenam:listKegiatan' %}">Lihat list kegiatan</a></button>
            </div>
        </div>









    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>