<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,500;1,700;1,900&family=Sansita+Swashed:wght@600;800&display=swap" rel="stylesheet">
    <style>
       body {
          background-color: #71d6b4;
      }
      a {
          color: rgb(201, 206, 253);
      }
      #back a{
          color: rgb(42, 140, 165);
      }
      card {
          background-color: cornflowerblue;
      }
      #tombol {
          background-color: rgb(75, 177, 180);
          color: aliceblue;
      }
      h1 {
        color: rgb(0, 0, 0);
      }
      h3{
        color: rgb(49, 75, 57);
      }
    </style>  
   
    <title>Story 6</title>
  </head>
  <body>
    <div class="row justify-content-center mt-5 mb-5">
      <div class="col text-center">
        <div style="font-family: Laila;" class="text-4xl my-4">
          <h1><b>Come and join!</b></h1> 
      </div>
      </div>
    </div>
    <div class="row justify-content-center"> 
      <div class="col-md-5">
        <div class="containerPerfCenter">
          <div class="flex-column">
              <div>
      
                  <form method="post">
                      {% csrf_token %}
                      <div class="form-group">
                          <div>
                              <h3>{{form_nama.nama.label_tag}}</h3>
                          </div>
                          {{form_nama.nama}}
                      </div>
                      <a href="" class="btnMatkul">
                          <button id="tombol" class="btn"  type="submit">Ikutan!</button>
                      </a>
                  </form>
              </div>
      
          </div>
      </div>
      
      </div>
    </div>
   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>