<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,500;1,700;1,900&family=Sansita+Swashed:wght@600;800&display=swap" rel="stylesheet">
    <style>
      body {
        background-color: #9ef7ff;
      }
      a {
      color: rgb(4, 28, 107);
      }
      h1 {
        color: rgb(61, 75, 104);
      }
      #buttonregist{
        background-color: rgb(0, 134, 139);
        color: rgb(240, 250, 255);
      }
      #buttondel{
        background-color: rgb(79, 224, 181);
      }

    </style>
    <title>List</title>
  </head>
  <body>
    <section class="container-fluid d-flex flex-wrap align-content-center mt-5">
      <div  class="section-title mx-auto text-center mt-5">
          <div class="flex-col">
              <a href="{% url 'storyenam:pilih' %}">Back to add activities</a>
              <h1 class="text-md">List Activities</h1>
  
          </div>
        </div>
  
\
        <div class="row w-100 justify-content-center">
          {% for kegiatannya in kegiatan %}
          <div class=" col-md-4 m-4 p-4">
            <ul class="list-group">
              <li class="list-group-item text-center"><b>{{ kegiatannya.nama_kegiatan }}</b> </li>
              {% for namanya in daftar %}
              {% if namanya.kegiatan == kegiatannya %}
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  {{ namanya.nama }}
                  <a href="{% url 'storyenam:delete' delete_id=namanya.pk %}" class="btn btn-light"><button  id="buttondel" class="btn">Delete</button></a>
                </div>
              </li>
              {% endif %}
              {% endfor %}
              <li class="list-group-item text-center"><a href="{% url 'storyenam:daftar' task_id=kegiatannya.pk %}" ><button class="btn" id="buttonregist">Register</button></a></li>
            </ul>
          </div>
          {% endfor %}
        </div>







    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>