<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,500;1,700;1,900&family=Sansita+Swashed:wght@600;800&display=swap" rel="stylesheet">
        <style>
            body {
                background-color: #dfffff;
            }
            .marg {
                margin-top: 20vw;
                width: auto;
            }

        </style>
        <title>storyenam</title>
    </head>
    <body>
    
    <div class="marg"></div>
    
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-md-4"> 
            <a href="{% url 'storyenam:addKegiatan'%}" class="btnMatkul text-sm-center">
            <div class="alert alert-primary" role="alert">
                <h1 class="alert-heading">Tambah Kegiatan!</h1>
                <p>Tambahkan kegiatan yang ingin kamu buat!</p>
                <hr>
            </div>
            </a>
        </div>
        <div clas="col-md-2"></div>
        <div class="col-md-4">
            <a href="{% url 'storyenam:listKegiatan'%}" class="btnMatkul text-sm-center">
            <div class="alert alert-danger" role="alert">
                <h1 class="alert-heading">Daftar Kegiatan</h1>
                <p>Daftarkan namamu ke kegiatan yang ada!</p>
                <hr>
            </div>
            </a>
        </div>
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>